/* TEXT FORMATTING */
h1{
    font-size: 5em;
    font-family: arial,helvetica;
    color: #fff;
    margin:0;
}
#title{
    font-size: 5em;
    font-family: aerospaceregular;
    color: #fff;
    margin:0;
    text-align:center;
}
.intro p{
    color: #fff;
}
h1 {
    color: #F2E9E4;
}

h2 {
    font-size: 3em;
    /*font-family: arial,helvetica;*/
    font-family: a-space_light_demoregular;
    color: #fff;
    margin:0;
    font-style: italic;
}

h3 {
    font-size: 1.5em;
    font-family: arial,helvetica;
    color: #fff;
    margin-top: 15px;
}

h5 {
    font-size: 5em;
    /*font-family: arial,helvetica;*/
    font-family: a-space_light_demoregular;
    color: #fff;
    margin:0;
}


p {
    font-size: 1em;
    font-family: arial,helvetica;
    color: #fff;
}

.label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #394a56;
    padding: 16pt;
}

.label-text {
    padding: 16pt;
    /*margin-left: 16px;*/
    /*margin-top: 10px;*/
}
.label-text1 {
    padding: 16pt;
    /*margin-right: 16px;*/
    color: white;
}
.label-text2 {
    padding: 16pt;
    /*margin-left: 16px;*/
    color: white;
}

.toggle {
    isolation: isolate;
    position: relative;
    height: 30px;
    width: 60px;
    border-radius: 15px;
    /*stroke: white;*/
    /*border-color: white;*/
    overflow: hidden;
    box-shadow:
            /*-8px -4px 8px 0px #ffffff,*/
            /*8px 4px 12px 0px #d1d9e6,*/
            4px 4px 4px 0px #d1d9e6 inset,
            -4px -4px 4px 0px #ffffff inset;
}

.toggle-state {
    display: none;
}

.indicator {
    height: 100%;
    width: 200%;
    background: #ecf0f3;
    border-radius: 15px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
    box-shadow:
            -8px -4px 8px 0px #db2323,
            8px 4px 12px 0px #a90f49;
}

.toggle-state:checked ~ .indicator {
    transform: translate3d(25%, 0, 0);
}

/* Centered texts in each section
* --------------------------------------- */
.section{
    text-align:center;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}


/* VIZ AREA FORMATTING*/

/*#world-map, #world-bar, #orbit-vis, #slider, #network-vis, #orbit-vis2, #launches-vis,#legendText, #brush-plot,#networkLegend-vis, #orbitLegend-vis {*/
/*    height: 100%;*/
/*    width:  100%;*/
/*}*/
/*#freq-viz, #bar-viz, #stacked-viz {*/
/*    height: 100%;*/
/*    width:  100%;*/
/*}*/


#freq-viz, #bar-viz, #stacked-viz{
    border: none;
    border-radius: 5px;
    height: 70vh;
    width: 98%;
}

#stackedToolTip h3 {
    text-align: center;
    padding-bottom: 5px;
    color: black;
}

#stackedToolTip div> p{
    font-size:15pt;
    text-align: left;
    color: black;
}

.area:hover{

}

#brush-viz, #brush-viz2{
    border: none;
    border-radius: 5px;
    height: 48vh;
    width: 98%;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

.axis {
    color: white;
}

.tick {
    stroke-color: white;
}