/* TEXT FORMATTING */
h1{
    font-size: 5em;
    font-family: arial,helvetica;
    color: #fff;
    margin:0;
}
#title{
    font-size: 5em;
    font-family: aerospaceregular;
    color: #fff;
    margin:0;
    text-align:center;
}
.intro p{
    color: #fff;
}
h1 {
    color: #F2E9E4;
}

h2 {
    font-size: 3em;
    /*font-family: arial,helvetica;*/
    font-family: a-space_light_demoregular;
    color: #fff;
    margin:0;
    font-style: italic;
}

h3 {
    font-size: 1.5em;
    font-family: arial,helvetica;
    color: #fff;
    margin-top: 15px;
}

h5 {
    font-size: 5em;
    /*font-family: arial,helvetica;*/
    font-family: a-space_light_demoregular;
    color: #fff;
    margin:0;
}


p {
    font-size: 1em;
    font-family: arial,helvetica;
    color: #fff;
}


/* Centered texts in each section
* --------------------------------------- */
.section{
    text-align:center;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}


/* VIZ AREA FORMATTING*/

/*#world-map, #world-bar, #orbit-vis, #slider, #network-vis, #orbit-vis2, #launches-vis,#legendText, #brush-plot,#networkLegend-vis, #orbitLegend-vis {*/
/*    height: 100%;*/
/*    width:  100%;*/
/*}*/
/*#freq-viz, #bar-viz, #stacked-viz {*/
/*    height: 100%;*/
/*    width:  100%;*/
/*}*/


#freq-viz, #bar-viz{
    border: none;
    border-radius: 5px;
    height: 50vh;
    width: 98%;
}

#stacked-viz{
    border: none;
    border-radius: 5px;
    height: 48vh;
    width: 98%;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}